
$ipad-air: 820px;
$galaxy-3: 365px;

// @function size-adapts($screen-size) {
//     if width: >= $screen-s;
// }

@mixin ipad-air {
    
    .control-imgs {
        height: 3vh; 
        padding: 0.5rem 0 0;
        width: 1.5rem;  // (numbers too)
    }
    
    #wrap {
        display: flex;
        grid-template-columns: 1fr 2fr 1fr;
        position: relative;
        top: 2vh;
        width: 90%;
        flex-direction: column;
    }

    #main {
        border: solid 0.5rem;
    }

    .wider h3 {
        font-size: 1rem;
        font-weight: 700;
    }

    #history-sec, #scientific-sec {
        height: 30%;
    }
    
    // #wrap #scientific-sec {
    //     height: 50vh;
    // }
        
}

@mixin galaxy-3 {

    .control-imgs {
        height: 2.5vh; 
        padding: 0.5rem 0 0;
        width: 1.5rem;  // (numbers too)
    }
    
    #wrap {
        display: flex;
        grid-template-columns: 1fr 2fr 1fr;
        position: relative;
        top: 5vh;
        width: 90%;
        flex-direction: column;
    }

    #main {
        border: solid 0.5rem;
    }

    h1 {
        font-size: 1rem;
        font-weight: 700;
    }

    body #wrap button.btns {
        font-size: 1rem;
    }
        
}
    
