@mixin history-sec {
    background-color: #d4fab7;
    grid-column: 1/ 2;
    grid-row: 1;
    border: solid;
    display: none;
    grid-template-rows: 0.83fr repeat(5, 1fr);
    h4 { 
        border-bottom: solid 0.1rem;
        display: inline-block;
        text-align: center;
        padding: 1.42rem 0;
        font-size: 1.5rem;
    }
}