* {
  margin: 0;
  padding: 0;
  border: 0;
}

svg path {
  fill: #232020;
}

.control-imgs {
  height: 5vh;
  width: 4vw;
}

#cal-header {
  background-color: #c7d2fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wider h3 {
  font-size: 3vw;
  color: #232020;
  align-self: center;
}

#screen {
  background-color: #cef7c9;
  display: flex;
  align-items: flex-end;
  padding-left: 1vw;
  font-size: 2vw;
}

.wider {
  grid-column: 2/-2;
}

button.btn-num {
  display: inline-block;
  cursor: pointer;
  color: #232020;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0.001rem 0 #766a6a;
}
button.btn-num:active {
  position: relative;
  top: 0.05rem;
}
button.btn-num:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #030b2c;
}

#main-c {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column: 2/-2;
  gap: 0.1rem;
  border: solid 0.1rem;
  height: 75vh;
}
#main-c .btn-control, #main-c .opers {
  background-color: #c7d2fe;
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
  color: #232020;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0.001rem 0 #766a6a;
}
#main-c .btn-control:hover, #main-c .opers:hover {
  background: linear-gradient(to bottom, #a8b5f4 5%, #cbc3f3 100%);
  background-color: #c2cdf7;
}
#main-c .btn-control:active, #main-c .opers:active {
  position: relative;
  top: 0.05rem;
}
#main-c button.light-on {
  background-color: #f4ac28;
  display: inline-block;
  cursor: pointer;
  color: #232020;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0.001rem 0 #766a6a;
}
#main-c button.light-on:active {
  position: relative;
  top: 0.05rem;
}
#main-c button.light-on:hover {
  background: linear-gradient(to bottom, #ffca67 5%, #e6b967 100%);
  background-color: #c2cdf7;
}
#main-c .fake-btn {
  background-color: #c7d2fe;
}
#main-c button[id="="] {
  display: inline-block;
  cursor: pointer;
  color: #232020;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0.001rem 0 #766a6a;
  background-color: #f9a8d4;
}
#main-c button[id="="]:active {
  position: relative;
  top: 0.05rem;
}
#main-c button[id="="]:hover {
  background: linear-gradient(to bottom, #f9b2c3 5%, #f894b2 100%);
  background-color: #5b4d55;
}

#history-sec {
  background-color: #d4fab7;
  grid-column: 1/2;
  grid-row: 1;
  border: solid;
  display: none;
  grid-template-rows: 0.1fr 3fr;
}
#history-sec h4 {
  border-bottom: solid 0.1rem;
  display: inline-block;
  text-align: center;
  padding: 1.42rem 0;
  font-size: 1.5rem;
}

#scientific-sec {
  background-color: #f9b2c3;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.98fr repeat(4, 1fr);
  border: solid 0.1rem;
}
#scientific-sec h4 {
  border-bottom: solid 0.1rem;
  display: inline-block;
  text-align: center;
  padding-top: 1.6rem;
  grid-column: 1/-1;
  font-size: 1.5rem;
}
#scientific-sec #blank {
  grid-column: 1/-1;
}
#scientific-sec #base-btn {
  grid-column: 1/-1;
}
#scientific-sec .sci-btns {
  display: inline-block;
  cursor: pointer;
  color: #232020;
  font-family: Arial;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0.001rem 0 #766a6a;
  border-top: solid 0.1rem;
}
#scientific-sec .sci-btns:active {
  position: relative;
  top: 0.05rem;
}
#scientific-sec #sqrt, #scientific-sec #sqrt-y, #scientific-sec #pie {
  border-left: solid 0.1rem;
}

body {
  display: flex;
  justify-content: center;
}

#wrap {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: relative;
  top: 4rem;
  width: 90%;
  height: 100%;
}

.dark-body {
  color: #c7c4c4;
}
.dark-body #scientific-sec {
  background-color: rgba(243, 5, 60, 0.4117647059);
}
.dark-body #history-sec {
  background-color: rgba(131, 255, 35, 0.3137254902);
}
.dark-body svg path {
  fill: #c7c4c4;
}
.dark-body #cal-header {
  background-color: #711c3f;
}
.dark-body .wider h3 {
  color: #c7c4c4;
}
.dark-body #screen {
  background-color: #3a5137;
  color: #c7c4c4;
}
.dark-body #main-c {
  background-color: rgb(171, 170, 170);
}
.dark-body #main-c button.btn-num {
  background-color: #971a4e;
  color: #c7c4c4;
}
.dark-body #main-c button.btn-num:hover {
  background: linear-gradient(to bottom, #8b2851 5%, #6d4456 100%);
  background-color: #030b2c;
}
.dark-body #main-c .btn-control, .dark-body #main-c .opers {
  background-color: #711c3f;
  color: #c7c4c4;
}
.dark-body #main-c .btn-control:hover, .dark-body #main-c .opers:hover {
  background: linear-gradient(to bottom, #4f0826 5%, #b12f65 100%);
  background-color: #c2cdf7;
}
.dark-body #main-c button.light-on {
  background-color: #f4ac28;
}
.dark-body #main-c button.light-on:hover {
  background: linear-gradient(to bottom, #ffca67 5%, #e6b967 100%);
  background-color: #c2cdf7;
}
.dark-body #main-c .fake-btn {
  background-color: #711c3f;
}
.dark-body #main-c button[id="="] {
  background-color: #3c5b82;
}
.dark-body #main-c button[id="="]:hover {
  background: linear-gradient(to bottom, #1e406a 5%, #376399 100%);
  background-color: #5b4d55;
}

/*# sourceMappingURL=r-style-opt.css.map */
