@import 'history';
@import 'scientific';
// **********************variables:********************

$prim-color: #e0e7ff;
$ops-color: #c7d2fe;
$eq-color: #f9a8d4;
$font-color: #232020;

// dark mode colors 
$d-prim-color:  #971a4e;
$d-ops-color: #711c3f;
$d-eq-color: #3c5b82;
$d-font-color: #c7c4c4;



// **********************MIXINS********************

@mixin btn {
    display:inline-block;
	cursor:pointer;
	color:$font-color;
	font-size: 2rem;
	font-weight:bold;
	text-decoration:none;
	text-shadow: 0 0.001rem 0 #766a6a;
    &:active {
        position:relative;
	    top: 0.05rem;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

// IMG CONTROLS
svg path{
    fill: $font-color;
  }


.control-imgs {
    height: 5vh;
    width: 4vw;
}

// HEADER
#cal-header {
    background-color: $ops-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wider h3{
    font-size: 3vw;
    color: $font-color;
    align-self: center;
}

// SCREEN

#screen {
    background-color: #cef7c9;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    font-size: 3rem;
}


.wider {
    grid-column: 2/ -2;
}

button.btn-num {
    @include btn;
    &:hover{
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        background-color: #030b2c;
    }
}

#main-c {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column: 2/-2;
    gap: 0.1rem;
    border: solid 0.1rem;
    height: 75vh;
    

    & .btn-control, .opers {
        
        background-color: $ops-color;
        font-size: 2rem;
        &:hover {
            background: linear-gradient(to bottom, #a8b5f4 5%, #cbc3f3 100%);
            background-color: #c2cdf7;
        }
        @include btn;
    }

    & button.light-on {
        background-color: #f4ac28;
        @include btn;
        &:hover {
            background: linear-gradient(to bottom, #ffca67 5%, #e6b967 100%);
            background-color: #c2cdf7;
        }
    }

    & .fake-btn {
        background-color: $ops-color;
    }

    // EQUAL BUTTON

    & button[id='='] {
        @include btn;
        background-color: $eq-color;
        &:hover {
        background:linear-gradient(to bottom, #f9b2c3 5%, #f894b2 100%);
        background-color:#5b4d55;
        }
    }
    
}


// HISROTY

#history-sec {
    background-color: #d4fab7;
    @include history-sec

}

// SCIENCE

#scientific-sec {
    background-color: #f9b2c3;
    @include sci-sec
}

// main wrappers

body {
    display: flex;
    justify-content: center;
}

#wrap {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: relative;
    top: 4rem;
    width: 90%;
    height: 100%;
    
}




// DARK MODE


.dark-body {
    display: flex;
    justify-content: center;

    #wrap {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        position: relative;
        top: 4rem;
        width: 90%;
        height: 100%;
    }

    #scientific-sec {
        background-color: #f3053c69;
        @include sci-sec
    }
    
    #history-sec {
        background-color: #83ff2350;
        @include history-sec
    }

    #main-c {
        background-color: black;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column: 2/-2;
        gap: 0.1rem;
        border: solid 0.1rem;
        height: 75vh;
    

        & .btn-control, .opers {
            background-color: $d-ops-color;
            font-size: 2rem;
            @include btn;
            
            &:hover {
                background: linear-gradient(to bottom, #4f0826 5%, #b12f65 100%);
                background-color: #c2cdf7;
            }
        }

        & button.light-on {
            background-color: #f4ac28;
            @include btn;
            &:hover {
                background: linear-gradient(to bottom, #ffca67 5%, #e6b967 100%);
                background-color: #c2cdf7;
            }
        }

        & .fake-btn {
            background-color: $d-ops-color;
        }

        // EQUAL BUTTON

        & button[id='='] {
            @include btn;
            background-color: $d-eq-color;
            &:hover {
            background:linear-gradient(to bottom, #1e406a 5%, #376399 100%);
            background-color:#5b4d55;
            }
        }

        // IMG CONTROLS
        svg path{
            fill: $d-font-color;
        }


        .control-imgs {
            height: 5vh;
            width: 4vw;
        }

        // HEADER
        #cal-header {
            background-color: $d-ops-color;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $d-font-color;
        }

        .wider h3{
            font-size: 3vw;
            color: $d-font-color;
            align-self: center;
        }

        // SCREEN

        #screen {
            background-color: #3a5137;;
            display: flex;
            align-items: flex-end;
            padding-left: 1rem;
            font-size: 3rem;
        }

        // .wider {
        //     grid-column: 2/ -2;
        // }

        button.btn-num {
            @include btn;
            background-color: $d-prim-color;

            &:hover{
                background: linear-gradient(to bottom, #8b2851 5%, #6d4456 100%);
                background-color: #030b2c;
    }
        }
    }
}